@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom right, black, #020247, black);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
h2{
    margin-top: 5px;
    margin-left: 25px;
    font-size: 50px;
    color: rgb(224, 188, 194);
    text-shadow: 3px 3px 3px red;
    text-transform: uppercase;
    font-family: 'Bree Serif', serif;
}
.navbar{
    position: absolute;
    top: 11%;
}
.navbar a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 18px;
    color: rgb(130, 233, 233);
    text-shadow: 1px 1px 1px pink;
    font-size: 34px;
    cursor: pointer;
    margin: 26px;
    padding: 18px;
    text-align: right;
    font-family: 'Berkshire Swash', cursive;
}
.navbar a:hover{
    animation-name: anime;
    animation-duration: 1s;
}
@media screen and (max-width: 1200px){
    .navbar{
        position: absolute;
        top: 6.5%;
        left: 9%;
    }
}
@keyframes anime{
    from{
        color: rgb(130, 233, 233);
        text-shadow: 1px 1px 1px pink;
        font-size: 34px;}
        to{
            color: yellow;
            text-shadow: 1px 1px 1px blueviolet;
            font-size: 39px;}
}
.button{
    position: absolute;
    top: 17%;
    left: 59%;
}
.btn{
    border: 4px solid black;
    text-decoration: none;
    color: black;
    background: linear-gradient(to right, rgb(243, 165, 178), rgb(236, 100, 236));
    padding: 10px 10px;
    border-radius: 6px;
    text-transform: uppercase;
    box-shadow: 3px 3px 3px whitesmoke;
    font-size: 19px;
    margin: 20px 20px;
    font-family: 'Acme', sans-serif;
}
.button a:hover{
    background: linear-gradient(to right, green, yellow);
    color: #020247;
}
@media screen and (max-width: 1200px){
    .button{
        position: absolute;
        top: 12%;
        left: 25%;
    }
}
.btn-active{
    border: 4px solid black;
    text-decoration: none;
    color: black;
    background: linear-gradient(to right, green, yellow);
    padding: 10px 10px;
    border-radius: 6px;
    text-transform: uppercase;
    box-shadow: 3px 3px 3px whitesmoke;
    font-size: 19px;
    margin: 20px 20px;
    font-family: 'Acme', sans-serif;
}
.gallery{
    padding: 15px;
    width: 33.33%;
    float: left;
}
@media screen and (max-width: 600px){
    .gallery{
        width: 80%;
        margin-left: 45px;
    }
}
.gallery img{
    min-width: 100%;
    min-height: 100%;
    border-radius: 15px;
    box-shadow: 3px 3px 3px white;
}
.gallery img:hover{
    animation-name: snap;
    animation-duration: 1.5s;
}
@keyframes snap{
    from{
        min-width: 100%;
        min-height: 100%;}
        to{
            min-width: 101%;
            min-height: 101%;}
}
.responsive{
    padding-top: 90.5px;
}
@media screen and (max-width: 1200px){
    .responsive{
        padding-top: 206px;
    }
}